/*========================================

	Helper Styles
	_____________

========================================*/

.fade-in {
	opacity: 0;
	transition: opacity 1s;
	&.faded-in {
		opacity: 1;
	}
}

.section--padded {
	padding: 40px 0;
}
