/*========================================

	Typography Styles
	_____________

========================================*/

@mixin body-font {
	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

body {
	@include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-bottom: .5em;
}

h1 {
	@include rf(normal desktop small-desktop phablet, 28 25 22 20);
}

h2 {
	@include rf(normal desktop small-desktop, 18 16 15);
}

h3 {
	@include rf(normal desktop phablet mobile, 15 14 13 12);
}

h4 {
	@include rf(normal desktop phablet, 14 13 12);
}

ul,
ol {
	margin-left: 20px;
}

p,
li,
a {
	line-height: 1.5;
	margin-bottom: 1em;
	@include rf(normal desktop phablet, 14 13 12);
}

p,
li,
a {
	color: $primary;
}

a {
	text-decoration: none;
	&:hover {
		color: $accent;
	}
}
