/*========================================

	Feature Block Styles
	_____________


========================================*/

.feature-block {
	margin-bottom: 20px;
	&__image {
		overflow: hidden;
		padding-top: 60%;
		position: relative;
	}
	&__image-element {
		top: 50%;
		margin: 0;
		transition: .2s;
		position: absolute;
		transform: translateZ(0) translateY(-50%) scale(1);
	}
	&__tag {
		top: 20px;
		opacity: 0;
		left: -10px;
		position: absolute;
		z-index: z(default) + 1;
		transition: .4s left, .4s opacity;
		transition-delay: .4s;
		&::before {
			content: attr(data-tag-content);
			padding: 10px;
			color: $primary;
			display: block;
			background: $white-default;
		}
		//TODO - scroll reveal - show tag
		.no-js & {
			left: 0;
			opacity: 1;
		}
	}
	&__panel {
		padding: 10px 0;
	}
	@include breakpoint(small-desktop-up) {
		&:hover {
			.feature-block__image-element {
				transform: translateY(-50%) scale(1.1);
			}
			.panel__title {
				color: $accent;
			}
			.arrow {
				&::before {
					width: 20px;
					background: $accent;
				}
				&::after {
					right: -5px;
					border-color: $accent;
				}
			}
		}
	}
}
