/*========================================

	Hover Color Styles
	_____________


========================================*/

.hover-color {
	&::before,
	&::after {
		opacity: 0;
		width: 100%;
		transition: .2s opacity;
		@include center-vertically;
	}
	&::before {
		content: attr(data-hover-content);
		color: $white-default;
		text-align: center;
		z-index: z(default) + 1;
	}
	&::after {
		content: '';
		height: 100%;
		background: rgba($accent, .5);
	}
	@include breakpoint(small-desktop-up) {
		&:hover {
			&::before,
			&::after {
				opacity: 1;
			}
		}
	}
}
