/*========================================

	Layout Styles
	_____________

	For Header, Main and Footer sections

========================================*/


 header,
 footer {
 	padding: 20px 0;
 	text-align: center;
 	background: $secondary;
 }
 